<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>

<div class="container">
    <h1>welcome to the Fastify App!</h1>
    <a href="/login">login</a>
    <p>or</p>
    <a href="/register">register</a>
</div>

<script src="/public/scripts/welkom.js"></script>
</body>
</html>