<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <h1>Register</h1>
    <form id="registerForm">
        <label>Username: <input type="text" name="username" required /></label><br />
        <label>Password: <input type="password" name="password" required /></label><br />
        <button type="submit">Register</button>
    </form>
    <script src="./public/scripts/register.js"></script>
</body>
</html>
