<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="./public/css/main.css">
</head>
<body>

<div class="container">
    <h1>Welcome to the Fastify App!</h1>
    <p class="message" id="welcomeMessage">Loading...</p>
    <a href="/books">Ckeck out our books</a>
    <button class="btn-logout" onclick="logout()">Logout</button>
</div>



<script src="./public/scripts/welkom.js"></script>
</body>
</html>
